@model D11Analytics.ViewModels.PlayerStatsDetail
@{
    ViewData["Title"] = "PlayerStats";
}
<style>
    body {
        font-family: Helvetica, Arial, sans-serif;
        padding: 20px;
        background: #ececec;
    }

    #chart {
        width: 100%;
    }

    table {
        text-align: left;
    }

    #dt-table span {
        display: none;
    }
</style>
<div class="container" style="margin-top: 12%;">
    @Html.DropDownListFor(a => a.playerNameLst, new SelectList(Model.playerNameLst), new { @onchange = "changePlayer();" })
    <table id="dt-table" class="display table-responsive table-bordered" width="100%">
        <thead>
            <tr>
                <td>Player Name</td>
                <th>Match</th>
                <th>Percentage</th>
                <th>Points</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model.PlayerPerformanceList)
            {
                <tr>
                    <td>@items.PlayerName</td>
                    <td>@items.MatchName</td>
                    <td>@items.selectionRate</td>
                    <td>@items.points</td>
                    <td><span>@items.DateplayedSort</span>@items.Dateplayed</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="chart"></div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="~/js/Chart.js"></script>
<script type="text/javascript">
    $(function () {
        function changePlayer() {
            alert("hi");
        }
    })
</script>